@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş geldiniz,</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>TESLİM TESELLÜM TUTANAK FORMUNU DOLDURMAK İÇİN İŞLEM SEÇİNİZ ... </p>
</div>
